.white-color {
  color: var(--white-color) !important;
}
.white-bg {
  color: var(--white-color) !important;
}
.lightseagreen-color {
  color: var(--lightseagreen-color) !important;
}
.lightseagreen-bg {
  background-color: var(--lightseagreen-color) !important;
}
.blue-color {
  color: var(--blue-color) !important;
}
.blue-bg {
  background-color: var(--blue-color) !important;
}
.orange-color {
  color: var(--orange-color) !important;
}
.orange-bg {
  background-color: var(--orange-color) !important;
}
.pink-color {
  color: var(--pink-color) !important;
}
.pink-bg {
  background-color: var(--pink-color) !important;
}
.lightcoral-color {
  color: var(--lightcoral-color) !important;
}
.lightcoral-bg {
  background-color: var(--lightcoral-color) !important;
}
.black-color {
  color: var(--black-color) !important;
}
.black-bg {
  background-color: var(--black-color) !important;
}
.red-color {
  color: var(--red-color) !important;
}
.red-bg {
  background-color: var(--red-color) !important;
}
